nextflow.enable.dsl = 2

manifest {
  name = 'homorepeat'
  description = 'Modular Nextflow workflow for homorepeat acquisition, detection, and reporting'
  version = '0.1.0'
}

includeConfig 'conf/base.config'

profiles {
  local {
    includeConfig 'conf/local.config'
  }
  docker {
    includeConfig 'conf/docker.config'
  }
}
