docker {
  enabled = true
}

process {
  executor = 'local'

  withLabel: planning {
    container = params.acquisition_container
  }

  withLabel: acquisition_download {
    container = params.acquisition_container
  }

  withLabel: acquisition_normalize {
    container = params.acquisition_container
  }

  withLabel: acquisition_merge {
    container = params.acquisition_container
  }

  withLabel: detection {
    container = params.detection_container
  }

  withLabel: database {
    container = params.detection_container
  }

  withLabel: reporting {
    container = params.detection_container
  }
}

timeline {
  enabled = true
  file = "${params.output_dir}/reports/nextflow_timeline.html"
  overwrite = true
}

report {
  enabled = true
  file = "${params.output_dir}/reports/nextflow_report.html"
  overwrite = true
}

trace {
  enabled = true
  file = "${params.run_root}/internal/nextflow/trace.txt"
  overwrite = true
}

dag {
  enabled = true
  file = "${params.output_dir}/reports/nextflow_dag.html"
  overwrite = true
}
