docker {
  enabled = true
}

process {
  executor = 'local'

  withLabel: planning {
    container = params.acquisition_container
  }

  withLabel: acquisition_download {
    container = params.acquisition_container
  }

  withLabel: acquisition_normalize {
    container = params.acquisition_container
  }

  withLabel: acquisition_merge {
    container = params.acquisition_container
  }

  withLabel: detection {
    container = params.detection_container
  }

  withLabel: database {
    container = params.detection_container
  }

  withLabel: reporting {
    container = params.detection_container
  }
}
