process {
  executor = 'local'
  cpus = 1
}

timeline {
  enabled = true
  file = "${params.run_root}/internal/nextflow/timeline.html"
  overwrite = true
}

report {
  enabled = true
  file = "${params.run_root}/internal/nextflow/report.html"
  overwrite = true
}

trace {
  enabled = true
  file = "${params.run_root}/internal/nextflow/trace.txt"
  overwrite = true
}

dag {
  enabled = true
  file = "${params.run_root}/internal/nextflow/dag.html"
  overwrite = true
}
