process {
  executor = 'local'
  cpus = 1
}

timeline {
  enabled = true
  file = "${params.output_dir}/reports/nextflow_timeline.html"
  overwrite = true
}

report {
  enabled = true
  file = "${params.output_dir}/reports/nextflow_report.html"
  overwrite = true
}

trace {
  enabled = true
  file = "${params.run_root}/internal/nextflow/trace.txt"
  overwrite = true
}

dag {
  enabled = true
  file = "${params.output_dir}/reports/nextflow_dag.html"
  overwrite = true
}
